@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Source+Code+Pro&display=swap');

html, body {
  height: 100%;
  width: 100%;
  background-color: #08080A;
  margin: 0;
  overflow: hidden;
}

*{
  font-family: 'Poppins', sans-serif;
  color: #ffffff;
  transition: 0.5s ease-out all;
}

#content{
  margin: 30px 0;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

#header{
  margin: 0;
  text-align: left;
}

#title, #subtitle, #color, #exclamation{
  font-family: 'Source Code Pro', monospace;
}

#title + #subtitle{
  margin-top: -15px;
}

#color{
  background-color: #798fd2;
  padding: 0px 5px;
  margin: 0;
}

#exclamation{
  margin: 0;
}

#text{
  margin: 25px 0 0 0;
  text-align: left;
}

a{
  color: #798fd2;
  text-decoration: none;
}

a:hover{
  text-decoration: underline;
}

.smallTitle{
  text-align: left;
}

.social{
  background: transparent;
  border: none;
}

.social img{
  width: 43px;
  height: 43px;
  border: none;
  border-radius: 9px;
  padding: 4px;
  border: 1px solid transparent;
  transition: 0.2s ease border;
}

.social img:hover{
  border: 1px solid #798fd2;
}

.social img:active{
  border: 1px solid transparent;
}

#copyright{
  position: absolute;
  bottom: 5px;
  right: 5px;
  font-size: 12px;
  margin: 0;
}

/* Responsiveness */

@media (max-width: 767px) {
  html, body{
    overflow-x: hidden;
    overflow-y: scroll;
  }
  
	#header, #text, .smallTitle{
    text-align: center;
  }

  #content, #header, #text{
    width: 75vw;
  }

  #socials{
    margin-bottom: 5vh;
  }
}

@media only screen and (min-width: 768px) {
  #content, #header, #text{
    max-width: 30vw;
  }
}